defaults
port {{ getenv "MSMTP_PORT" "25" }}
tls {{ getenv "MSMTP_TLS" "off" }}
{{- if getenv "MSMTP_LOG" }}
logfile {{ getenv "MSMTP_LOGFILE" "/proc/self/fd/2" }}
{{- end }}

account default
auth {{ getenv "MSMTP_AUTH" "off" }}
host {{ getenv "MSMTP_HOST" "opensmtpd" }}
add_missing_date_header {{ getenv "MSMTP_ADD_MISSING_DATE_HEADER" "on" }}
