[sqlsrv]
extension=sqlsrv.so
sqlsrv.WarningsReturnAsErrors = {{ getenv "PHP_SQLSRV_WARNINGS_RETURN_AS_ERRORS" "1" }}
sqlsrv.LogSubsystems = {{ getenv "PHP_SQLSRV_LOG_SUBSYSTEMS" "0" }}
sqlsrv.LogSeverity = {{ getenv "PHP_SQLSRV_LOG_SEVERITY" "1" }}
sqlsrv.ClientBufferMaxKBSize = {{ getenv "PHP_SQLSRV_CLIENT_BUFFER_MAX_KB_SIZE" "10240" }}
