[opcache]
zend_extension = opcache.so
opcache.enable = {{ getenv "PHP_OPCACHE_ENABLE" "1" }}
opcache.validate_timestamps = {{ getenv "PHP_OPCACHE_VALIDATE_TIMESTAMPS" "1" }}
opcache.revalidate_freq = {{ getenv "PHP_OPCACHE_REVALIDATE_FREQ" "2" }}
opcache.max_accelerated_files = {{ getenv "PHP_OPCACHE_MAX_ACCELERATED_FILES" "4000" }}
opcache.memory_consumption = {{ getenv "PHP_OPCACHE_MEMORY_CONSUMPTION" "128" }}
opcache.interned_strings_buffer = {{ getenv "PHP_OPCACHE_INTERNED_STRINGS_BUFFER" "8" }}
opcache.enable_cli = {{ getenv "PHP_OPCACHE_ENABLE_CLI" "0" }}
opcache.huge_code_pages = {{ getenv "PHP_OPCACHE_HUGE_CODE_PAGES" "0" }}